.circular-progress-holder {
    min-height: 70vh;
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

  .circular-progress {
    margin: 2rem auto;
  }
}

.social-login-img {
    height: 20px;
}

.email-otp-resend {
  margin-top: 0;
  background: rgb(16, 225, 16);
}

// TODO: Double check this
.oxygen-input-label {
  color: var(--oxygen-palette-text-primary)
}

.asgardeo-register-link {
  margin-left: 6px;
}