.ui-sign-in {
  border: .2px solid rgb(214, 214, 214);
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
}
