.ui-sign-in {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 32px;
  min-width: 350px;
  max-width: 500px;
}
