.circular-progress-holder {
    min-height: 70vh;
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

  .circular-progress {
    margin: 2rem auto;
  }
}

.social-login-img {
    height: 20px;
}
